@model List<CommentListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/Dashboard/Index">Anasayfa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Yorumlar</a></li>
        </ol>
    </div>
</div>
<!-- row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4 class="card-title">
                                Yorum Listesi
                            </h4>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped verticle-middle">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Profil</th>
                                    <th scope="col">Adı Soyadı</th>
                                    <th scope="col">Oda</th>
                                    <th scope="col">Yorum</th>
                                    <th scope="col">Yorum Tarihi</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Aksiyon</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <td><img src="@item.User.ImageUrl" height="50px" width="40px" /></td>
                                        <td>@item.User.Name @item.User.Surname</td>
                                        <td>@item.Room.Title</td>
                                        <td>
                                            @{
                                                if (item.Text?.Length > 50)
                                                {
                                                    @item.Text.Substring(0, 50)
                                                    ;
                                                }
                                                else
                                                {
                                                    @item.Text?.ToString()
                                                    ;
                                                }
                                            }
                                        </td>
                                        <td>@item.CommentDate</td>
                                        <td>
                                            @{
                                                if (item.IsApproved == true)
                                                {
                                                    <span>
                                                        <i style="font-size:medium" class="text-success fas fa-check-circle"></i>
                                                        Onaylandı
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>
                                                        <i style="font-size:medium" class="text-danger fas fa-times-circle"></i>
                                                        Onaylanmadı
                                                    </span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <span><a href="/Admin/Comment/UpdateComment/@item.CommentId" data-toggle="tooltip" data-placement="top" title="Güncelle"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="/Admin/Comment/DeleteComment/@item.CommentId" data-toggle="tooltip" data-placement="top" title="Sil"><i class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


